@import '../../sass/common';
@import '../../sass/variables';

.header {
  @include display-flex;
  align-items: center;
  position: fixed;
  left: $leftpanel-width;
  height: $logo-section-height;
  background-color: $header-background-color;
  width: 100%- $leftpanel-width;
}

.profile-container img {
  width: 3em;

}