@import '../../sass/common';
@import '../../sass/variables';

.header {
  align-items: center;
  position: fixed;
  height: $logo-section-height;
  background-color: $header-background-color;
  width: 100%;
  z-index: 999999;
  padding: 0 $gutter-app-space;
  top: 0;
  border-top: none;
  box-shadow: none;
  //background: linear-gradient( to left, rgba(255,0,0,1) 0%, rgba(0,1,0,1) 12%, rgba(255,93,177,1) 47%, rgba(83,0,30,1) 100% ) left bottom #777 no-repeat;
  background-size: 100% 5%;
}

.profile-container img {
  width: 2.2em;
  border-radius: 50%;
  margin-top: .6em;
  cursor: pointer;
}

.header-main-content {
  @include display-flex;
  max-width: 1128px;
}

.header-main-logo-wrapper {
  @include flex(0, 0, auto);
  padding-top: 6px;

  img {
    width: 2.5em;
    height: 2.5em;
    cursor: pointer;
  }
}

.profile-dropdown-arrow {
  margin-bottom: .3em;
  cursor: pointer;
}