ul li a {
  display: block;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

ul li {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}

li {
  list-style: none;
  display: table-cell;
  width: calc(100% / 6);
  min-width: 4em;
}

ul {
  margin: 1px 0 0;
  padding: 0;
  list-style: none;
}

.widget-name {
  line-height: 16px;
  display: block;
  color: #c7d1d8;
  transition: color .3s;
  font-size: .6em;
}

.widgets-container {
  position: relative;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  background: 0 0;
  width: auto;
  min-width: 360px;
  z-index: 100;
  overflow: visible;
  margin: .5em 3em 0 auto;

  svg {
    margin-bottom: -.4em;
  }
}