.notification-count-icon{
  .notification-count{
    position: relative;
    top: -0.25em;
  }
  position: relative;
  left: 0.8em;
  top: 2.1em;
  color: #ffffff;
  border-radius: 20%;
  background: #ff5e00;
  width: 2em;
  height: 1em;
  font-weight: 500;
  z-index: 1;
  text-align:center;

}