@import '../../sass/common';
@import '../../sass/flex';
@import '../../sass/variables';

.main-section-header-card{
  height: auto;
  padding: .8em 1em;
}
.main-section-header-main{
  @include display-flex;
  align-items: center;
  justify-content: space-between;
}
.main-section-header-title{
  @include flex(1, 1, 1);
  font-weight: 600;
  font-size: 1.6em;
}
.main-section-header-actions{
  @include flex(1, 1, 1);
}