@import '../../sass/common';
@import '../../sass/variables';

.search-wrapper {
  padding: 0 1em;
}

.search-bar {
  position: relative;
  padding-top: .5em;

  input {
    height: 3em;
    line-height: 34px;
    padding: 0 24px 0 8px;
    background-color: #fff;
    text-overflow: ellipsis;
    border-radius: .3em;
    width: 22em;
    border: 0;
  }

  .search-icon {
    top: 0;
    left: 0;
    padding: 5px 4px;
    height: 100%;
    border-radius: 0 2px 2px 0;
    position: relative;

    svg {
      position: absolute;
      right: .7em;
      top: .2em;
    }
  }
}