@import '../../sass/common';
@import '../../sass/variables';

.app-logo {
  width: 4em;
  height: 4em;
}

.logo-section {
  height: $logo-section-height;
}

.widget-section {
  background-color: #3f3f3f;
  height: 100%;
}

.leftmenu-wrapper {
  height: 100%;
}

